
.ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  .li {
    width: 100%;
  }
  
  @media screen and (min-width: 640px) {
    .li {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .li {
      width: 33%;
    }
  }